.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}


.main-links {
    background-color: slategrey;
}